body {
    text-align: center;
    font-family: Georgia;
  }

.MainLayout{
    display: grid;
} 


/*
h1 {
    color: SaddleBrown;
    margin-left: 20px;
  }
  */

/* Header*/

h1{
    text-align: center;
    padding: 10px;
}

header{
	height: 70vh;
	text-align: center;
	background-image: url(Art/unityPicture.jpg);
	background-position: center;
    background-size: cover;
}

header h1{
	text-align: center;
	padding-top: 25vh;
	font-size: 50px;
	color: rgb(0, 0, 0);
}

/* NAV */
header .navigationMenu{
	float: left;
}

.navigationMenu {
    /* Code for the menu overall */
    margin-top: 30px;
    text-align: center;
    
}

.navigationMenu li {
    /* Code for the list of links*/
	display: inline-block; /*Lines up across from left to right*/
    margin-left: 20px;
    background-color: transparent;
    border-radius: 10px;
}

.navigationMenu li a{
    /* for each link */
    padding: 5px 10px;
    border-radius: 10px;
	text-decoration: none;
}

.navigationMenu li a:hover {
    /* for each link in navigation menu when hovered over with the mouse*/
	background-color:pink;
    border-radius: 10px;
}
  
  P {
   text-align: left;
   color: Maroon;
   margin-left: 120px;
   margin-right: 120px;
   border-radius: 5px;
   padding: 20px;
  }
  
  h2 {
    color: black;
  }


  hr {
    border-color: SaddleBrown;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: tan;
   }
  
  li {
    float: left;
    display: inline-block;
    list-style-type: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #784212;
  }
  
  body {
  font-family: Arial, Helvetica, sans-serif;
  }
  * {box-sizing: border-box;}
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #784212;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #8B4513;
  }
  
  .container {
    border-radius: 5px;
    background-color: tan;
    padding: 20px;
    /*margin: 100px;*/
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
    /*margin- 100px;*/
  }
  
  img {
    object-fit:cover;
    width: 200px;
    height: 300px;
    border: solid 1px #CCC;
    margin-top: 25px;
  }
  
  label{
    color: maroon;
  }

  /*Boxes*/
  .MainLayout{
    display: grid;
  }

  .Intro{
    grid-row: 1;
    background-color: pink;
    margin: 20px;
    border-radius: 20px;
  }
  

  .lesbian{
    grid-row: 2;
    background-color: rgb(247, 192, 140);
    margin: 20px;
    border-radius: 20px;
  }

  .gay{
    grid-row: 3;
    background-color: rgb(250, 232, 152);
    margin: 20px;
    border-radius: 20px;
  }

  .bisexual{
    grid-row: 4;
    background-color: rgb(176, 250, 176);
    margin: 20px;
    border-radius: 20px;
  }
  

  .transgender{
    grid-row: 5;
    background-color: rgb(192, 209, 255);
    margin: 20px;
    border-radius: 20px;
  }

  .queer{
    grid-row: 6;
    background-color: rgb(221, 160, 245);
    margin: 20px;
    border-radius: 20px;
  }
